div {
  position: relative;
  font-family: 'jeju Gothic';
  color: blue;

}
img {
    margin: 20px;
    width: 100px;
    height: 100px;
    background: #f00;
    -webkit-animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

.grow:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

body {
  position: absolute;
  background-color: #B9FFDD; font-family: 'Jeju Gothic';
  text-align: center;
}

h1 {
  position: relative;
  font-family: 'Jeju Gothic';
  color: #B1514E;

}

table {
  position: relative;
  border:3px solid #FF48C3;
  text-align: center;
  margin: 0 auto;
}

tr {
  background-color: #63FF7E ;
}

th {
  :3px solid #FF48C3;
}

form {
  position: relative;
  background-color: #FFDDF5;
  text-align: center;
}

button {
  font-family: 'Jeju Gothic';
  background-color: #AB9FB1;
}







